@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import "./reset.css";
@import "./variable.css";

/* Components */
@import "./components/status.css";
@import "./components/navigation.css";
@import "./components/screen-header.css";
@import "./components/friends-display.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./components/icon-row.css";
@import "./components/alt-screen-header.css";
@import "./components/no-mobile.css";
@import "./components/splash.css";
/* Screens */
@import "./screeens/login.css";
@import "./screeens/find.css";
@import "./screeens/more.css";
@import "./screeens/settings.css";
@import "./screeens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  position: relative;

  background-color: white;
  color: #2e363e;

  width: 100%;
  height: fit-content;
}

.main-screen {
  padding: 10px var(--horizontal-space);
}
