.chat-screen {
  background-color: #abc1d1;
  height: 200vh;
}

.chat-screen .alt-screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  padding-bottom: 20px;

  z-index: 10;
}

.chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 100;
}
.chat_timestamp {
  margin-top: 120px;

  background-color: #92a4b2;
  color: white;

  padding: 15px;
  border-radius: 30px;
  z-index: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;

  will-change: auto;
  animation: fade-in 1s linear;
}

.message-row {
  width: 100%;
  display: flex;

  margin-top: 25px;
}
@keyframes message__own__animation {
  from {
    transform: translateY(50vh);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes message__animation {
  from {
    transform: translateY(50vh);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row:not(.message-row__own) {
  transform: translateY(50vh);

  animation: message__animation 1s ease-in-out forwards;
}
.message-row__own {
  transform: translateY(50vh);
  opacity: 0;
  animation: message__own__animation 1s ease-in-out forwards;
  animation-delay: 3s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message-row__content__author {
  opacity: 0.8;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 600;
}

.message-row__content__info {
  display: flex;
  align-items: flex-end;
}
.message-row__content__info__bubble {
  background-color: white;
  padding: 12px 15px;
  margin-right: 10px;

  border-radius: 15px;
  border-top-left-radius: 0px;

  font-size: 18px;
  font-weight: 600;

  transition: 0.5s ease-in-out;

  z-index: 100;
}

.message-row__content__info__bubble:hover {
  transform: scale(1.2, 1.2);
}

.message-row__content__info__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own img,
.message-row__own .message-row__content__author {
  display: none;
}

.message-row__own .message-row__content__info__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;

  margin-right: 0px;
  margin-left: 10px;
}

.message-row__own .message-row__content__info {
  flex-direction: row-reverse;
}

.reply-form {
  position: fixed;
  bottom: 0px;

  display: flex;
  width: 100%;
  background-color: white;

  transition: all 0.3s ease-in-out;
}

.reply-form__column:first-child {
  padding: 15px 0px;
  font-size: 35px;
  opacity: 0.7;

  margin-left: 15px;
  text-align: center;
  width: 10%;
}

.reply-form__column:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  box-sizing: border-box;

  padding: 0px 10px;
  margin: 10px 15px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 60px;

  background-color: #f8f8f8;

  transition: all 0.3s ease-in-out;
}
.reply-form__column:last-child input {
  background-color: #f8f8f8;
  border: none;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
}

.reply-form__column:last-child input::placeholder {
  font-size: 17px;
  font-weight: 500;
  opacity: 0.5;
}
.reply-form__column__button {
  display: flex;
  align-items: center;

  font-size: 30px;
  opacity: 0.8;
}
.reply-form__column__button i {
  transition: all 0.3s ease-in-out;
}
.reply-form__column__button button {
  margin-left: 15px;

  border-radius: 50%;
  background-color: var(--yellow);
  border: none;
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in-out;
}
.reply-form .reply-form__column:first-child,
.reply-form .reply-form__column__button {
  transition: all 0.3s ease-in-out;
}
.reply-form:focus-within .reply-form__column:first-child,
.reply-form:focus-within .reply-form__column__button {
  margin: none;
  opacity: 0;
  visibility: hidden;
}
.reply-form:focus-within .reply-form__column__button button {
  margin: 0px 0px;
  padding: 0px 0px;
  border: none;
}
.reply-form:focus-within .reply-form__column:first-child {
  width: 0px;
}
.reply-form:focus-within .reply-form__column:last-child {
  width: 95vw;
  transform: translateY(-320px) translateX(-5px);
  height: 60px;
}

.reply-form:focus-within {
  transform: translateY(300px);
}
