.alt-screen-header {
  padding: 50px 20px;

  display: flex;
  align-items: center;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}
.alt-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__title {
  font-size: 23px;
  font-weight: 700;
}

.alt-screen-header i:not(:last-child) {
  margin-right: 20px;
}
