.friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;

  color: gray;
}

.friends-display-link__text {
  margin: 0px 10px;
  color: #2e363e;
  font-weight: 600;
  font-size: 15px;
}

.friends-screen {
  padding: 10px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  padding: 20px 0px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
