@keyframes nav-bar__btn__animation {
  from {
    transform: translateY(200px);
  }
  to {
    transform: none;
  }
}

.nav-bar {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);

  box-sizing: border-box;
  bottom: 0;
  width: 100%;

  position: fixed;

  animation: nav-bar__btn__animation 2s ease-in-out forwards;
}

.nav-bar__list {
  display: flex;
  justify-content: space-between;
}

.nav-bar__btn {
  display: flex;
  justify-content: center;

  position: relative;
  color: #2e363e;
}

@keyframes notification {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-7px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.nav-bar__chat__notification {
  position: absolute;
  top: -7px;
  right: -10px;
  animation: notification 3s ease-in-out infinite;
}

.nav-bar__etc__notification {
  position: absolute;
  right: -10px;
}
