#no-mobile {
  position: absolute;
  top: -30px;
  left: 0px;

  z-index: 10000;
  height: 110vh;
  width: 100vw;
  background-color: var(--yellow);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: 700;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  #no-mobile {
    display: none;
  }
}
