.screen-header {
  background-color: beige;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 30px;

  width: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__header-icons {
  width: 25%;

  display: flex;
  justify-content: space-between;

  font-size: 15px;
  font-weight: 300;
}
