.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: var(--horizontal-space);
  box-sizing: border-box;

  margin-top: 30px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 700;

  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.screen-header:hover .screen-header__title {
  transform: translateX(15vw);
  font-size: 35px;
  font-weight: 700;
}
.screen-header__header-icons > * {
  margin-left: 20px;

  font-size: 18px;
  font-weight: 300;
}

@keyframes rotate-gear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate-music {
  0% {
    transform: none;
  }
  50% {
    transform: scaleY(1.2) rotateZ(45deg);
  }
  100% {
    transform: none;
  }
}
@keyframes rotate-magnifying-glass {
  0% {
    transform: none;
  }
  50% {
    transform: scaleX(1.3) scaleY(1.5) rotateZ(-45deg);
  }
  100% {
    transform: none;
  }
}

@keyframes rotate-chat {
  0% {
    transform: none;
  }
  50% {
    transform: scaleY(1.5) scaleX(0.7);
  }
  100% {
    transform: none;
  }
}
.screen-header .fa-gear:hover {
  animation: rotate-gear 1s ease-in-out infinite;
}

.screen-header .fa-music:hover {
  animation: rotate-music 1s ease-in-out infinite;
}

.screen-header .fa-magnifying-glass:hover {
  animation-delay: 1s;
  animation: rotate-magnifying-glass 1s ease-in-out infinite;
}

.screen-header .fa-comment-dots:hover {
  animation: rotate-chat 1s ease-in-out infinite;
}
.screen-header__header-icons span i {
  transition: 0.3s ease-in-out;
}
